In [1]:
import pandas as pd

In [2]:
Biases=pd.read_csv('RM.csv')

In [3]:
from sklearn.ensemble import ExtraTreesClassifier

In [4]:
Biases.head()

,SUMMARY OUTPUT,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Regression Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Multiple R,0.023302352,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R Square,0.000543,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adjusted R Square,0.000419579,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = Biases.copy()                               # Create duplicate of data
data = data.replace(r'^s*$', float('NaN'), regex = True)  # Replace blanks by NaN
print(data)

           SUMMARY OUTPUT    Unnamed: 1      Unnamed: 2   Unnamed: 3  \
0                     NaN           NaN             NaN          NaN
1   Regression Statistics           NaN             NaN          NaN
2              Multiple R   0.023302352             NaN          NaN
3                R Square      0.000543             NaN          NaN
4       Adjusted R Square   0.000419579             NaN          NaN
5          Standard Error   0.855592988             NaN          NaN
6            Observations          8100             NaN          NaN
7                     NaN           NaN             NaN          NaN
8                   ANOVA           NaN             NaN          NaN
9                     NaN            df              SS           MS
10             Regression             1     3.220680239  3.220680239
11               Residual          8098     5928.054752  0.732039362
12                  Total          8099     5931.275432          NaN
13                    NaN           NaN             NaN          NaN
14                    NaN  Coefficients  Standard Error       t Stat
15              Intercept   1.227192909     0.017357426  70.70131978
16                      3   0.019371707     0.009235519  2.097522303

     Unnamed: 4      Unnamed: 5   Unnamed: 6   Unnamed: 7   Unnamed: 8
0           NaN             NaN          NaN          NaN          NaN
1           NaN             NaN          NaN          NaN          NaN
2           NaN             NaN          NaN          NaN          NaN
3           NaN             NaN          NaN          NaN          NaN
4           NaN             NaN          NaN          NaN          NaN
5           NaN             NaN          NaN          NaN          NaN
6           NaN             NaN          NaN          NaN          NaN
7           NaN             NaN          NaN          NaN          NaN
8           NaN             NaN          NaN          NaN          NaN
9             F  Significance F          NaN          NaN          NaN
10  4.399599812     0.035978286          NaN          NaN          NaN
11          NaN             NaN          NaN          NaN          NaN
12          NaN             NaN          NaN          NaN          NaN
13          NaN             NaN          NaN          NaN          NaN
14      P-value       Lower 95%    Upper 95%  Lower 95.0%  Upper 95.0%
15            0     1.193167895  1.261217924  1.193167895  1.261217924
16  0.035978286     0.001267717  0.037475698  0.001267717  0.037475698

In [8]:
data2 = data.copy()                          # Create duplicate of data
data2.dropna(inplace = True)                      # Remove rows with NaN
print(data2)

   SUMMARY OUTPUT   Unnamed: 1   Unnamed: 2   Unnamed: 3   Unnamed: 4  \
15      Intercept  1.227192909  0.017357426  70.70131978            0
16              3  0.019371707  0.009235519  2.097522303  0.035978286

     Unnamed: 5   Unnamed: 6   Unnamed: 7   Unnamed: 8
15  1.193167895  1.261217924  1.193167895  1.261217924
16  0.001267717  0.037475698  0.001267717  0.037475698

In [7]:
data2.head()

,SUMMARY OUTPUT,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
15,Intercept,1.227192909,0.017357426,70.70131978,0,1.193167895,1.261217924,1.193167895,1.261217924
16,3,0.019371707,0.009235519,2.097522303,0.035978286,0.001267717,0.037475698,0.001267717,0.037475698

In [9]:
array = data2.values
X = array[:,0:19]
Y = array[:,5]
# feature extraction
model = ExtraTreesClassifier(n_estimators=16)
model.fit(X, Y)
print(model.feature_importances_)

ValueError: could not convert string to float: 'Intercept'

In [15]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics

In [16]:
feature_cols = ['income', 'occupancy_type', 'debt_to_income_ratio', 'hoepa_status','applicant_credit_score_type','derived_race']
X = data2[feature_cols] # Features
y = data2.action_taken

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [18]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [19]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9604156358238496

In [38]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [39]:
print(regressor.intercept_)

-1.8967074932646393

In [40]:
print(regressor.coef_)

[-3.62736582e-04 -8.29091784e-01 -1.17332371e-04  1.87223677e+00
  5.33652278e-03  2.87135850e-03]

In [42]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

      Actual  Predicted
6513       1   1.008491
2749       1   1.012370
1809       1   0.986616
3963       3   2.895081
2169       1   1.015272
...      ...        ...
7709       1   0.979724
7281       1   1.016934
5829       1   1.025219
5951       1   1.015128
3186       1   1.004648

[2021 rows x 2 columns]

In [45]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.07548630148561256
Mean Squared Error: 0.05061590090994213
Root Mean Squared Error: 0.22497977889121976

In [46]:
Biases=pd.read_csv('RM.csv')

In [51]:
data = Biases.copy()                               # Create duplicate of data
data = data.replace(r'^s*$', float('NaN'), regex = True)  # Replace blanks by NaN
print(data)

      App ID  county_code  derived_race  derived_sex  action_taken  \
0        549        29099             1            1             3
1        550        29099             1            1             1
2        551        29189             4            2             3
3        552        29099             1            2             3
4        553        29047             4            3             3
...      ...          ...           ...          ...           ...
8096   14100        29019             1            2             1
8097   14103        29095             1            1             1
8098   14104        29007             1            1             1
8099   14107        29099             1            1             1
8100   14108        29209             1            1             3

      purchaser_type  preapproval  loan_type  loan_purpose  lien_status  \
0                  0            2          2             1            1
1                  2            2          4             1            1
2                  0            2          3             1            1
3                  0            2          4             1            1
4                  0            2          2             1            1
...              ...          ...        ...           ...          ...
8096               1            2          1            31            1
8097               3            2          1            32            1
8098               1            2          1            31            1
8099               2            2          3            31            1
8100               0            2          1            31            1

      business_or_commercial_purpose  loan_amount  hoepa_status  \
0                                  2       115000             3
1                                  2       245000             2
2                                  2        95000             3
3                                  2       155000             3
4                                  2       105000             3
...                              ...          ...           ...
8096                               2       185000             2
8097                               2       185000             2
8098                               2       145000             2
8099                               2       115000             2
8100                               2       125000             3

      property_value  occupancy_type  income  debt_to_income_ratio  \
0             115000               1      49                 0.400
1                  0               1       0                   NaN
2              95000               1      44                 0.360
3                  0               1       0                   NaN
4             115000               1      34                 0.550
...              ...             ...     ...                   ...
8096          315000               1      94                 0.025
8097          305000               1     163                 0.020
8098          205000               1      59                 0.410
8099          145000               1       0                   NaN
8100          605000               1      89                 0.020

      applicant_credit_score_type  applicant_ethnicity_1
0                               1                      2
1                               3                      2
2                               1                      2
3                               3                      2
4                               3                      1
...                           ...                    ...
8096                            3                      2
8097                            3                      2
8098                            3                      2
8099                            2                      2
8100                            2                      2

[8101 rows x 19 columns]

In [55]:
data2 = data.copy()                          # Create duplicate of data
data2.dropna(inplace = True)                      # Remove rows with NaN
print(data2)

      App ID  county_code  derived_race  derived_sex  action_taken  \
0        549        29099             1            1             3
2        551        29189             4            2             3
4        553        29047             4            3             3
6        558        29097             1            2             1
11       563        29047             1            2             3
...      ...          ...           ...          ...           ...
8095   14098        29213             1            1             3
8096   14100        29019             1            2             1
8097   14103        29095             1            1             1
8098   14104        29007             1            1             1
8100   14108        29209             1            1             3

      purchaser_type  preapproval  loan_type  loan_purpose  lien_status  \
0                  0            2          2             1            1
2                  0            2          3             1            1
4                  0            2          2             1            1
6                  9            2          2             1            1
11                 0            2          2            31            1
...              ...          ...        ...           ...          ...
8095               0            2          1             1            1
8096               1            2          1            31            1
8097               3            2          1            32            1
8098               1            2          1            31            1
8100               0            2          1            31            1

      business_or_commercial_purpose  loan_amount  hoepa_status  \
0                                  2       115000             3
2                                  2        95000             3
4                                  2       105000             3
6                                  2       165000             2
11                                 2       115000             3
...                              ...          ...           ...
8095                               2        75000             3
8096                               2       185000             2
8097                               2       185000             2
8098                               2       145000             2
8100                               2       125000             3

      property_value  occupancy_type  income  debt_to_income_ratio  \
0             115000               1      49                 0.400
2              95000               1      44                 0.360
4             115000               1      34                 0.550
6             175000               1     115                 0.020
11            145000               1      97                 0.020
...              ...             ...     ...                   ...
8095           75000               1      35                 0.410
8096          315000               1      94                 0.025
8097          305000               1     163                 0.020
8098          205000               1      59                 0.410
8100          605000               1      89                 0.020

      applicant_credit_score_type  applicant_ethnicity_1
0                               1                      2
2                               1                      2
4                               3                      1
6                               2                      2
11                              3                      2
...                           ...                    ...
8095                            3                      2
8096                            3                      2
8097                            3                      2
8098                            3                      2
8100                            2                      2

[6735 rows x 19 columns]

In [56]:
X = data2[['income', 'occupancy_type', 'debt_to_income_ratio', 'hoepa_status','applicant_credit_score_type','derived_race']]
y = data2['action_taken']

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [58]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [59]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

                             Coefficient
income                         -0.000363
occupancy_type                 -0.829092
debt_to_income_ratio           -0.000117
hoepa_status                    1.872237
applicant_credit_score_type     0.005337
derived_race                    0.002871

In [60]:
y_pred = regressor.predict(X_test)

In [61]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

      Actual  Predicted
6513       1   1.008491
2749       1   1.012370
1809       1   0.986616
3963       3   2.895081
2169       1   1.015272
...      ...        ...
7709       1   0.979724
7281       1   1.016934
5829       1   1.025219
5951       1   1.015128
3186       1   1.004648

[2021 rows x 2 columns]

In [62]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.07548630148561256
Mean Squared Error: 0.05061590090994213
Root Mean Squared Error: 0.22497977889121976

In [64]:
X = data2[['applicant_ethnicity_1', 'derived_sex', 'debt_to_income_ratio', 'hoepa_status','applicant_credit_score_type','derived_race', 'county_code']]
y = data2['action_taken']

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [66]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [67]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

                             Coefficient
applicant_ethnicity_1          -0.001035
derived_sex                     0.014841
debt_to_income_ratio            0.000019
hoepa_status                    1.759874
applicant_credit_score_type     0.007325
derived_race                    0.003180
county_code                    -0.000033

In [68]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.07548630148561256
Mean Squared Error: 0.05061590090994213
Root Mean Squared Error: 0.22497977889121976